In [50]:
import pandas as pd

In [51]:
# carrega o arquivo csv que vai servir de base de dados do projeto
df = pd.read_csv('./aniversariantes.csv', sep=';')

In [52]:
# lista de colunas que terão seus nomes substituidos
listColumns = ["r.a.",
"aluno",
"periodoLetivo",
"codigoCurso",
"curso",
"codigoHabilitacao",
"habilitacao",
"turma",
"situacaoMatricula",
"codigoMatrizCurricular",
"tipoMatricula",
"matrizCurricular",
"turno",
"dataMatricula",
"coeficienteRendimento",
"codigoInstituicaoDestino",
"motivoTransferencia",
"anoReferencia",
"codigoUsuario",
"e-mail",
"dataSolicitacaoAlteracao",
"resultado",
"telefone",
"polo",
"codigoTipoCurso",
"sexo",
"nascimento",
"gestorPolo"
]

In [53]:
# troca os nomes das colunas do dataframe pelos nomes que tem na lista listColumns
df.columns = listColumns

In [54]:
# lista de colunas que serão dropadas
dropColumns = ["r.a.",
"periodoLetivo",
"codigoCurso",
"codigoHabilitacao",
"habilitacao",
"situacaoMatricula",
"codigoMatrizCurricular",
"tipoMatricula",
"matrizCurricular",
"turno",
"dataMatricula",
"coeficienteRendimento",
"codigoInstituicaoDestino",
"motivoTransferencia",
"anoReferencia",
"codigoUsuario",
"e-mail",
"dataSolicitacaoAlteracao",
"resultado",
"telefone",
"polo",
"codigoTipoCurso",
"sexo",
"gestorPolo"
]

In [55]:
# dropa as colunas da lista dropColumns
df = df.drop(columns = dropColumns)

In [56]:
# remoção das linhas com valor pensionato da coluna curso
df = df[df['curso'] != 'Pensionato']

In [57]:
# remoção dos duplicados com base na coluna alunos
df = df.drop_duplicates(subset=['aluno'])

In [58]:
# lista de referência para substituir o semestre do curso pelo ano do curso
listYears = {
    r'.*(01|02).*' : '1º ano',
    r'.*(03|04).*' : '2º ano',
    r'.*(05|06).*' : '3º ano',
    r'.*(07|08).*' : '4º ano',
    r'.*(09|10).*' : '5º ano',
}

In [59]:
# altera o semestre do curso para o ano do curso com base na tabela listYears
df['turma'] = df['turma'].replace(listYears, regex=True)

In [60]:
# pega a string de data no formato "dd/MM/yyyy" e retira os 2 dígitos do mês que tem nela
df['nascimento'] = df['nascimento'].str[3:5]

In [64]:
# ordena a tabela pelas colunas de nascimento, curso, turma e aluno
df.sort_values(by=['nascimento', 'curso', 'turma', 'aluno'], inplace=True)

In [65]:
# dicionário para substituir os numeros da coluna nascimento pelos nomes dos meses
listMonth = {
    '01':'Janeiro',
    '02':'Fevereiro',
    '03':'Março',
    '04':'Abril',
    '05':'Maio',
    '06':'Junho',
    '07':'Julho',
    '08':'Agosto',
    '09':'Setembro',
    '10':'Outubro',
    '11':'Novembro',
    '12':'Dezembro'
}

In [66]:
# troca o numero do mês de nascimento pelo nome do mês na lista listMonth
df['nascimento'] = df['nascimento'].replace(listMonth)

In [68]:
# gravação do csv com os arquivos processados
df.to_csv('./aniversariantes_processado.csv', sep=';', index=False)